/* 第一种字体 */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

/* 第二种字体 */
/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Ubuntu", sans-serif; */
  font-family: "Arvo", serif;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  object-fit: cover;
}

body {
  background: #fff;
}

/* 禁止滚动 */
body.no-scroll {
  overflow: hidden;
}

/* 滚动过渡动画 */
html {
  scroll-behavior: smooth;
}

.cursor {
  cursor: pointer;
}

.btn {
  border: 2px solid #000;
  background: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.btn:hover {
  color: #000;
  background: #fff;
  border-color: #e5e7eb;
}

.btn--secondary {
  color: #000;
  background: #fff;
  border: 2px solid #e5e7eb;
}

.btn--secondary:hover,
.hero__socials a:hover {
  border-color: #000;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#navbar {
  position: fixed; /* 初始定位 */
  z-index: 999;
  width: 100%;
  padding: 20px 60px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.5s ease; /* 平滑过渡效果 */
}

#footer-quickLink {
  position: fixed; /* 初始定位 */
  z-index: 98;
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  box-sizing: border-box;

  .footer__menu {
    background-color: #4d4d4d;
    width: 626px;
    height: 60px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8px;

    a {
      height: 48px;
      display: inline-flex;
      align-items: center;
      height: 48px;
      margin: 0 6px;
      padding: 0 10px;
      border: 1px solid #4e4e4e;
      border-radius: 8px;
      color: #dedede;
      &:hover {
        border-color: #a7a7a7;
      }
    }

    .footer__logo {
      background-color: #222;
      border: none;
      color: #dedede;
    }
    .courses {
      display: flex;
      align-items: center;
      height: 48px;
      border-radius: 8px;
      background-color: #3e3e3e;
      a {
        height: 36px;
      }
    }
    .home {
      background-color: #e9e9e9;
      color: #000;
      font-weight: bold;
    }
  }
}

.navbar__logo {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.navbar__logo i {
  font-size: 30px;
}

.navbar__menu .navbar__link {
  position: relative;
  font-size: 14px;
  font-weight: 500;
}
.navbar__menu .navbar__link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1.5px;
  background-color: #000;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.navbar__menu .navbar__link.active::after {
  width: 100%;
}

.navbar__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__links a:hover {
  color: #000;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 60px;
  gap: 60px;
  height: calc(100vh - 75px);
}

.hero__content,
.hero__intro {
  width: 50%;
}

#typing {
  white-space: nowrap;
  position: relative;
  display: inline-block;
}

.typing::after {
  content: "|";
  display: inline-block;
  margin-left: 5px;
  opacity: 1;
  animation: blink-caret 0.75s step-end infinite;
}

/* 光标闪烁动画 */
@keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.hero__image {
  width: 340px;
  height: 340px;
  border-radius: 5px;
}

.hero__content h2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 400;
  margin-top: 20px;
  width: 85%;
  &::after {
    content: "__";
    display: inline-block;
    margin-left: 5px;
    opacity: 1;
    animation: blink-caret 0.75s step-end infinite;
  }
}

.hero__intro {
  padding-right: 40px;
}

.hero__intro h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 10px;
}

.hero__intro p {
  color: #6b7280;
  font-weight: 500;
  margin-bottom: 30px;
}

.hero__actions {
  display: flex;
  gap: 10px;
}

.hero__actions .btn,
.skills__actions .btn {
  padding: 6px 20px;
  font-size: 12px;
  font-weight: 500;
}

.hero__socials {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  right: 30px;
  top: 25%;
}

.hero__socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border: 2px solid #e5e7eb;
  padding: 8px;
  border-radius: 50%;
  transition: all 0.5s ease;
  position: relative;
}

#scrollToTopBtn {
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 99;
  left: calc(100vw - 60px);
  bottom: 2%;
  font-size: 35px;
  color: #dedede;
  background-color: #4d4d4d;
  border-radius: 8px;
  text-align: center;
  line-height: 50px;
}

.skills {
  padding: 60px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.skills__desc,
.skills__stats {
  width: 50%;
}

.skills__desc {
  padding-right: 80px;
}

.skills__desc h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}

.skills__desc p {
  color: #6b7280;
  font-size: 14px;
  margin-bottom: 30px;
}

.skills__stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skills__stats i {
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.skill__info {
  background: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.skill__info h5 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skill__info p {
  width: 50%;
  text-align: center;
  font-size: 14px;
  color: #7a7a7a;
  font-weight: 500;
}

.showcase {
  padding: 80px 60px 100px;
  background: #e5e7eb;
}

.showcase__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.showcase__header h3 {
  font-size: 28px;
  font-weight: 400;
}

.showcase__header .btn {
  font-size: 13px;
  padding: 5px 16px;
  color: #fff;
  background: #000;
  border-color: #000;
}

.showcase_categories .category:not(:last-child) {
  margin-bottom: 100px;
}

.category__header {
  display: flex;
  align-items: center;
}

.category__title,
.category__desc {
  width: 50%;
  display: flex;
  align-items: center;
}

.category__title {
  gap: 12px;
}

.category__title h4 {
  font-size: 22px;
  font-weight: 400;
}

.category__title i {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.category__desc {
  gap: 40px;
  justify-content: space-between;
}

.category__desc p {
  font-size: 13px;
  color: #6b7280;
  font-weight: 500;
}

.category__desc a {
  font-size: 22px;
}

.category__projects {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.project-card {
  position: relative;
  width: 25%;
  height: 420px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.project-card__image {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-position: top center;
  border: 1px solid #e5e7eb;
  margin-bottom: 20px;
}

.project-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  margin-bottom: 8px;
}

.project-card__info h5 {
  font-size: 17px;
  font-weight: 500;
}

.project-card__info p {
  font-size: 12px;
  color: #6b7280;
  font-weight: 500;
}

.project-card__desc {
  font-size: 13px;
  color: #7a7a7a;
  margin-bottom: 30px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* 定义文本的行数 */
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card .btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px 20px;
  border-radius: 16px 0 10px 0;
  border: none;
  color: #fff;
  background: #000;
}

.project-card .btn:hover {
  background: #000;
}

.career {
  padding: 60px 60px 80px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.career__jobs,
.career__awards {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.career h3 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}

.job,
.award {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #e5e7eb;
}

.job i,
.award div i {
  font-size: 20px;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.award {
  justify-content: space-between;
}

.award > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.job__info h5,
.award__info h5 {
  font-size: 15px;
  font-weight: 500;
}

.job__info h5 span,
.award__info h5 span {
  font-weight: 600;
}

.job__info p,
.award__info p {
  font-size: 13px;
  color: #6b7280;
  font-weight: 500;
}

.award a i {
  font-size: 24px;
}

.contact {
  text-align: center;
  padding: 60px;
}

.contact h5 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}

.contact h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.contact .btn {
  padding: 6px 20px;
  border: 2px solid #000;
  color: #fff;
  background: #000;
  margin-bottom: 14px;

  a {
    color: #fff;
  }
}

.contact p {
  color: #6b7280;
  font-size: 14px;
  font-weight: 500;
}

.contact p span {
  color: #000;
  font-weight: 600;
  font-size: 13px;
}

.footer {
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__brand {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer__brand a {
  font-weight: bold;
  font-size: 18px;
}

.footer__brand p {
  font-size: 13px;
  color: #6b7280;
  font-weight: 500;
}

/* page-workWithMe */
.slide-page {
  padding-top: 73px;
  position: fixed;
  bottom: -100%; /* 初始位置在屏幕外 */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: bottom 0.4s ease; /* 平滑过渡效果 */
  overflow: auto; /* 如果内容过多，允许滚动 */
  z-index: 1000;
  .slidePage-header {
    position: absolute;
    top: 3%;
    left: 4%;
    font-size: 20px;
  }
  .slidePage-title {
    text-transform: uppercase;
    font-size: clamp(60px, -6.5915492958px + 9.7183098592vw, 180px);
    line-height: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: clamp(40px, 5vw, 96px);
  }
  .slidePage-little-title {
    width: 100%;
    text-align: center;
    font-size: clamp(18px, 15.8873239437px + 0.4225352113vw, 24px);
  }
  .slidePage-showImg {
    padding: 8% 10%;
    img {
      border-radius: 20px;
      width: 100%;
      height: auto;
    }
  }
  .life-soul {
    width: 100%;
    padding: 6% 10%;
    font-weight: bold;
    font-size: clamp(22px, 12.8450704225px + 1.8309859155vw, 48px);
  }
}

/* 当页面显示时 */
.show {
  bottom: 0; /* 移动到屏幕底部 */
}

/* 蒙层样式 */
#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
}

/* 头--弹窗样式 */
#modal-content {
  width: 100%;
  height: 100%;
  position: fixed;
  /* 上下左右4个方向的定位都设置为0 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; /* 外边距全设置为 auto ，元素就这么神奇的居中定位了 */
  z-index: 1001;
  background-color: transparent;
  transform: scale(0.5); /* 初始缩小 */
  opacity: 0; /* 初始透明 */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* 显示弹窗时的样式 */
#modal-content.show {
  display: flex; /* 显示弹窗 */
  transform: scale(1); /* 放大到正常大小 */
  opacity: 1; /* 渐显 */
}

/* 关闭按钮样式 */
#modal-close {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 16px;
  font-size: 30px;
}

#modal-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 尾--弹窗样式 */

/* Tab Container */
.tab-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* Tab Header */
.tab-header {
  display: flex;
  background: #f1f1f1;
  padding: 10px;
}

.tab-title {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab-title:hover {
  background-color: #ddd;
}

.tab-title.active {
  background-color: #333;
  color: white;
}

/* Tab Content */
.tab-content {
  display: none;
  padding: 20px;
  border: 1px solid #ddd;
}

.tab.active {
  display: block;
}

/* Hello */
.Hello {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 24px;
}

/* 弹窗--微信 */
.connect-wx {
  position: relative;
  width: 30%;
  height: 20%;
  /* 兼容手机端 */
  min-width: 323px;
  min-height: 392px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;

  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
    height: 80%;
    object-fit: contain; /* 或者 cover */
  }
}

/* 详情页面--雅思 / 托福 / 出国留学 / 幼初高英语辅导 */
.slider {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* 外边距全设置为 auto ，元素就这么神奇的居中定位了 */
  margin: auto;
  z-index: 9999;
  background-color: #fff;
  padding-bottom: 76px;

  transform: scale(0.5); /* 初始缩小 */
  opacity: 0; /* 初始透明 */
  transition: transform 0.3s ease, opacity 0.3s ease;

  .detail {
    border: 0;
    position: fixed;
    z-index: 1;
    /* top: 5%; */
    left: 0%;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: auto;

    .card__image {
      width: 90%;
      height: 45%;
      margin: 30px 0 10px 0;
      /* 防止图片变形 */
      object-fit: cover;
      border-radius: 5px;
    }

    .card__content {
      display: flex;
      flex-direction: column;
      height: 600px;
      text-align: right;
      font-size: 30px;

      .card__desc {
        width: 300px;
        padding-bottom: 75px;
        margin-top: 50px;
        text-align: right;
        font-size: 15px;
        line-height: 1.5;
      }
    }
  }

  .slider-bottom {
    z-index: 99;
    left: 0%;
    width: 100%;
    height: 76px;
    position: relative;
    bottom: -100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;

    .ri-close-large-line {
      font-size: 25px;
      padding: 5px;
      border: 1px solid #000;
      border-radius: 50%;
    }
    .ri-arrow-left,
    .ri-arrow-right {
      font-size: 32px;

      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
    }
  }

  /* 显示的页面 */
  .fixed-page {
    position: fixed;
    left: 0%;
    z-index: -1;
  }
}

/* 显示弹窗时的样式 */
.slider.show {
  display: flex; /* 显示弹窗 */
  transform: scale(1); /* 放大到正常大小 */
  opacity: 1; /* 渐显 */
}

@media screen and (max-width: 1230px) {
  .hero__image {
    width: 100%;
  }

  .hero__content h2 {
    font-size: 38px;
    text-align: center;
  }

  .hero__intro h3 {
    font-size: 30px;
  }

  .hero__intro p {
    font-size: 15px;
  }

  .skills__desc {
    padding-right: 20px;
  }

  .skills__desc h3 {
    font-size: 26px;
  }

  .skills__stats i {
    font-size: 50px;
  }

  .skill__info h5 {
    font-size: 20px;
  }

  .skill__info p {
    font-size: 12px;
    width: 100%;
  }

  .category__title {
    width: 40%;
  }

  .category__desc {
    width: 60%;
  }

  .category__projects {
    flex-wrap: wrap;
  }

  .project-card {
    width: 48%;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    padding: 20px 30px 0px 30px;
  }

  .hero {
    padding: 100px 30px 40px;
  }

  .hero__intro h3 {
    font-size: 22px;
    line-height: 34px;
  }

  .hero__intro p {
    font-size: 13px;
  }

  .hero__socials {
    top: 26%;
  }

  .skills {
    flex-direction: column;
    padding: 60px 30px 80px;
  }

  .skills__desc,
  .skills__stats,
  .category__title,
  .category__desc,
  .career__jobs,
  .career__awards {
    width: 100%;
  }

  .skills__desc {
    padding-right: 0;
  }

  .showcase {
    padding: 80px 30px 100px;
  }

  .category__header {
    flex-direction: column;
  }

  .category__title {
    margin-bottom: 20px;
  }

  .career {
    padding: 60px 30px 80px;
    flex-direction: column;
    gap: 60px;
  }

  .footer {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 768px) {
  #navbar {
    padding: 20px 33px;
  }

  .hero {
    flex-direction: column;
    height: auto;
    padding-top: 18px;
    gap: 30px;
  }

  .skills__stats {
    overflow: auto;
  }

  .hero__content,
  .hero__intro {
    width: 100%;
  }

  .hero__intro {
    padding: 0 20px;
    text-align: center;
  }

  .hero__actions {
    display: block;
  }

  .skills__desc {
    text-align: center;
  }

  .skills__actions {
    display: block;
  }

  .hero__content h2 {
    width: 100%;
    font-size: 30px;
  }

  .hero__socials {
    position: relative;
    flex-direction: row;
    right: auto;
    margin-top: 10px;
  }

  .showcase__header h3 {
    font-size: 24px;
  }

  .category__title h4 {
    font-size: 20px;
  }

  .project-card {
    width: 100%;
    height: 500px;
  }

  .project-card__image {
    height: 300px;
  }

  .project-card__desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* 定义文本的行数 */
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .career h3 {
    font-size: 26px;
  }

  .footer {
    flex-direction: column-reverse;
    gap: 16px;
  }

  #footer-quickLink {
    display: none;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
}

/* 分割线 */
.divider {
  width: 100%;
  padding: 0 2rem;
  margin-top: 54px;
  p {
    background-color: gray;
    height: 1px;
  }
}

.menu-toggle {
  position: relative;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1001;
}

/* 动画遮罩层 */
.menu-overlay {
  position: fixed;
  top: var(--top, 0px);
  left: var(--left, 0px);
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.6s ease-in-out;
  z-index: 999;
}

.menu-overlay.open {
  transform: scale(30);
}

/* 菜单内容 */
.menu-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  pointer-events: none;

  /* iOS 兼容 */
  will-change: transform, opacity;
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
}

.menu-content.show {
  display: flex;
  pointer-events: auto;
  animation: fadeIn 0.5s 0.2s ease forwards;
}

.menu-content a {
  color: #000;

  font-size: 2rem;
  margin: 1rem 0;
  text-decoration: none;
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 0.4s ease forwards;
}

.menu-content a:nth-child(1) {
  animation-delay: 0.4s;
}
.menu-content a:nth-child(2) {
  animation-delay: 0.6s;
}
.menu-content a:nth-child(3) {
  animation-delay: 0.8s;
}
.menu-content a:nth-child(4) {
  animation-delay: 1s;
}
.menu-content a:nth-child(5) {
  animation-delay: 1.2s;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
